# Build intermediate outputs
lib/
dist/main/
dist/post/

# Keep the final built files
!dist/main.js
!dist/main.js.map
!dist/post.js
!dist/post.js.map

# Dependencies
node_modules/

# Logs
*.log

# IDE
.vscode/
.idea/